{{ define "main" }}

<section class="site-blog details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <article class="site-blog-details">
          <h2 class="blog-title">{{ .Title }}</h2>
          <p class="blog-author"> Por <span>{{ .Params.author }}</span></p>
          <!-- <img class="feature-image" src="{{ .Params.feature_image | absURL }}" alt="blog-feature-image"> -->
          {{ .Content }}
        </article>
        <div class="site-blog-author-info">
          <div class="author-content">
            <div class="author-image">
              <img class="author-avatar" src="{{ .Params.author_image | absURL }}" alt="Foto de {{ .Params.author }}">
            </div>
            <div>
              <p class="author-name"><span>{{ .Params.author }}</span></p>
              <p class="author-bio"><span>{{ .Params.author_bio }}</span></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}