{{ define "main" }}

<section class="site-about-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <h1>
              {{ .Params.heading }}
            </h1>
          </div>
          <div class="site-about-description">
            <p>
              {{ .Description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-about-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <h2>
              O que é esclerose múltipla?
            </h2>
            <h1>Dra Ana Maria Canzonieri</h1>
          </div>
          <div class="site-about-description">
            <p> A esclerose múltipla (EM) é uma doença de prevalência em adultos jovens, na faixa etária de 20 a 40 anos e em mulheres na proporção de 2:1. É inflamatória, desmielinizante do sistema nervoso central (SNC), crônica, degenerativa e progressiva (Russo, 2010; Dutra, 2012; Quintiliano, 2020).
As evidências sugerem que a EM é resultado de um processo autoimune que envolve o sistema imune inato e o adaptativo,
que ainda por motivos desconhecidos causam uma auto destruição na bainha de mielina das fibras nervosas (Russo, 2010;
Dutra, 2012; Quintiliano, 2020).
Há uma combinação de predisposição genética, estilo de vida, exposição aos agentes infecciosos, baixa exposição à luz
solar, deficiência de vitamina D, obesidade e tabagismo (Russo, 2011; Dutra, 2012; Quintiliano, 2020).
As pesquisas apontam, mas não fecham a conclusão para a existência de maior relação entre o grau de parentesco entre uma
pessoa com EM e o surgimento de novos casos em família (Russo, 2011; Dutra, 2012; Quintiliano, 2020).
Nas últimas décadas obtivemos avanços na descoberta dos mecanismos de desenvolvimento e controle da EM, mas ainda não
temos nenhum tratamento eficaz, portanto, não há cura (Russo, 2011; Dutra, 2012; Quintiliano, 2020).

DUTRA, R. C. Esclerose múltipla: terapias e particularidades de uma doença neurodegenerativa. Rev. Técnico Científica,
2012, 3:1.
QUINTILIANO, R. P. S. Estudo das subpopulações de linfócitos b no sangue periférico e líquido cefalorraquidiano de
pacientes com esclerose múltipla primária progressiva. Tese de Mestrado. Universidade Estadual de Campinas Instituto de
Biologia. 2020.
RUSSO, L. Aspectos neurológicos da esclerose múltipla. In M. C. B. Giacomo (Coord.), Esclerose múltipla: O caminho do
conhecimento entre pedras e flores. Atha, 2011, 16-33.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-expertise">
  <div class="container">
    <div class="row">
      {{ with .Params.expertise_title }}
      <div class="col-md-5">
        <div class="section-title">
          <h2>{{ . }}</h2>
        </div>
      </div>
      {{ end }}
      <div class="col-md-6">
        <ul class="site-expertise-list">
          {{ range .Params.expertise_sectors }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- {{ partial "clients.html" . }} -->

<!-- {{ partial "team.html" . }} -->

{{ partial "call-to-action.html" . }}

{{ end }}