<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- <div class="site-footer-logo"><a href="{{ .Site.BaseURL }}"><img src="{{ "images/logo-footer.png" | absURL }}" alt="logo-footer"></a></div> -->
        <div class="site-footer-title">PARCEIROS</div>
      </div>
      {{ with .Site.Params.footer.patrocinador1 }}
      <div class="col-lg-4 col-md-6">
        <div class="site-footer-widget">
          <a href="http://www.apembs.org.br">
            <img class="logo-patrocinador" src="{{ "images/patrocinadores/apembs.png" | absURL }}" alt="img-patrocinador-1">
          </a>
        </div>
      </div>
      {{ end }}
      {{ with .Site.Params.footer.patrocinador2 }}
      <div class="col-lg-2 col-md-6">
        <div class="site-footer-widget">
          <a href="https://alsapem.org">
            <img class="logo-patrocinador" src="{{ "images/patrocinadores/logoalsapem.png" | absURL }}" alt="img-patrocinador-1">
          </a>
        </div>
      </div>
      {{ end }}
      {{ with .Site.Params.footer.patrocinador3 }}
      <!-- <div class="col-lg-2 col-md-6">
        <div class="site-footer-widget">
          <img class="logo-patrocinador" src="{{ "images/patrocinadores/appem.png" | absURL }}" alt="img-patrocinador-1">
        </div>
      </div> -->
      {{ end }}
    </div>
  </div>
</footer>

{{ $formhandler := resources.Get "js/formhandler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script>
{{ $vendor := resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>